body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
}

a,
div,
img,
input,
h1,
h2,
p,
span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}
